.a{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
a {
    color: white;
}
 .card{
    width: 25%;
    padding-bottom:20px ;
    margin-bottom: 60px;
    margin-top: 50px;
    padding: 40px;
} 


.task-btn {
    width: 50%;
    background-color: white;
    height: 25%;
    margin-top: 30px;
}
.btn{
    margin-top: 20px;
    
}