.App {
  text-align: center;
  background-color:black;
  
}
:root{
  background-image: url("/public/images/carwash.jpeg");
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100%;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* .potato {
  background-image: url("/public/images/carwash.jpeg");
  
} */

/* h2 {
  color: white;
}

h3{
  color: white;
} */
